---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h2>sqzume / さずめ</h2>

    <h3>♡ Likes</h3>
    <ul>
        <li>Linux</li>
        <li>競技プログラミング</li>
        <li>Server</li>
    </ul>
</BaseLayout>
